/*

!.cargo/
.cargo/*
!/.cargo/*.toml

!.chunkwmrc
!.gitignore
!.gitignore_global
!.gitmodules
!.nvimrc
!.purepower
!.racketrc

!.rustup/
.rustup/*
!.rustup/*.toml

!.rvmrc
!.scripts/
!.skhdrc
!.tmux.conf
!.nvimrc
!.p10k.zsh
!.vimrc
!.yabairc
!.zsh_etc/
!.zshrc
!Brewfile*
!README.md

# Ignore only superfluous configurations.

!.config/
.config/*

!.config/nvim
.config/nvim/*
!.config/nvim/autoload
!.config/nvim/*.json
!.config/nvim/*.vim

!.config/alacritty/
.config/alacritty/*
!.config/alacritty/*.yml
